{% load static%}
{% include 'nav.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
 <link rel="stylesheet" href="{% static 'css/project.css'%}">

</head>
<body><h1></h1>
    <div class="game"><h2>Blog-Website</h2><br>
            <p>Coming Soon!!!</p>
            <h3>Technologis:HTML, CSS, Django </h3></div>
    
    <div class="game"><h2>Chat-Bot</h2><br>
            <p>This chat-Bot is give information about some thing</p>
            <h3>Technologis:HTML, CSS, REACT </h3></div>
        <div class="game"><h2>R.P.S Game</h2><br>
            <p>This game is  only for entertament purpose </p>
            <h3>Technologis:HTML, CSS, JS </h3></div>
        <div class="todo"><h2>TO DO LIST APP</h2>
            <p>This application is used to to store <br>something you will do in spacific time</p>
        <h3>Technologis:HTML, CSS, JS  </h3></div>
        <div class="maths"> <h2>Register form</h2>
            <p>This is basic registration form </p>
            <h3>Technologis:HTML, CSS, PHP </h3></div>
        <div class="copy"><h2>Nike website</h2>
            <p>I try to copy this website from nike.com</p>
           <h3>Technologis:HTML, CSS, REACT</h3></div>
        <div class="myweb"></div>
    </div>
</body>
</html>