{%load static%}
{%include 'nav.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  <link rel="stylesheet" href="{% static 'css/skill.css'%}">

</head>
<body><h1></h1>

    <div class="list1">
        <ul class="ul1">Tehicnical skill
       <li>HTML</li>
       <li>CSS</li>
       <li>JavaScript</li>
       <li>React</li>
       <li>Python</li>
       <li>Django</li>
       <li>PHP</li>
       <li>Responsive website</li>
     </ul></div>
     <div class="list2">
     <ul class="ul2">Soft Skill
        <li>communication</li>
        <li>Team work</li>
        <li> Problem solving</li>
        <li>Logical thinking</li>
     </ul>
    </div>
     
</body>
</html>